[main]
url=https://yourspecops.instance.com/specopspassword/reset/Reset.aspx
logfile=/var/log/unlocker.log
loglevel=info

[user]
netid=netid
domain=user.fqdn

[questions]
answer1=AnswerForQuestion1
answer2=AnswerForQuestion2
answer3=AnswerForQuestion3
